<div class="container">
  <form [formGroup]="formGroup">
    <div class="form-group">
      <app-custom-form-input label="Email address" placeholder="example@mail.com" type="email" formControlName="email">
      </app-custom-form-input>
      <app-custom-form-input label="Full name" placeholder="John Doe" formControlName="fullname">
      </app-custom-form-input>
      <app-custom-form-input label="Phone number" placeholder="123-456-7891" formControlName="phone">
      </app-custom-form-input>
      <app-custom-form-select label="Food" [options]="foodOptions" formControlName="food"></app-custom-form-select>
    </div>
  </form>

  <div>
    <code>{{formGroup.value | json}}</code>
  </div>
</div>