<label [for]="id">{{label}}</label>
<select
  [id]="id"
  class="form-control"
  [ngClass]="{'is-invalid': !control.pristine && control.invalid}"
  [value]="control.value"
  [disabled]="disabled"
  (input)="onChange(getHTMLSelectValue($event))"
>
  <option
    *ngFor="let opt of options"
    [value]="opt.id"
    [selected]="opt.id === control?.value"
  >
    {{opt.name}}
  </option>
</select>

<div *ngIf="!control.pristine && control.invalid">
  <small>
    {{ errorMessages && errorMessages.length > 0 ? errorMessages[0] : "Invalid"
    }}
  </small>
</div>
