<label [for]="id">{{ label }}</label>
<textarea
  [id]="id"
  class="form-control"
  [ngClass]="{'is-invalid': !control?.pristine && control?.invalid}"
  [name]="name"
  [placeholder]="placeholder"
  [rows]="rows"
  [cols]="cols"
  [value]="control?.value"
  [disabled]="control?.disabled"
  (input)="onChange(getHTMLTextValue($event))"
  (blur)="onTouched()"
></textarea>
<div *ngIf="!control?.pristine && control?.invalid">
  <small>
    {{ errorMessages && errorMessages.length > 0 ? errorMessages[0] : "Invalid"
    }}
  </small>
</div>
